@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body,
p,
a {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: #000000;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: #2C353A;
}

.btn-dark {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 25px;
  background-color: #152435;
  color: #fff;
  border-radius: 80px;
  transition: 0.3s ease-in-out;
  border: 2px solid #152435;
  display: inline;
  font-family: "Inter", sans-serif;
}
.btn-dark:hover {
  background-color: transparent;
  color: #152435;
}

.btn-light {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 35px;
  background-color: #069FCE;
  color: #fff;
  border-radius: 80px;
  transition: 0.3s ease-in-out;
  border: 2px solid #069FCE;
  display: inline;
  font-family: "Inter", sans-serif;
}
.btn-light:hover {
  background-color: transparent;
  color: #069FCE;
}

/* -- --------------------
Sroll To Top on Click 
----------------------
*/
.scrollToTop {
  z-index: 9999;
  text-align: center;
  background: #069FCE;
  color: #fff;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none !important;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.scrollToTop.d-block {
  display: block !important;
}
.scrollToTop button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scrollToTop button i {
  padding: 3px;
  font-size: 18px;
  color: #fff;
}
.scrollToTop:hover {
  text-decoration: none;
  background-color: #0CB2DB;
}

/* -- --------------------
tap-call 
----------------------
*/
.mobile-call-button {
  position: fixed;
  bottom: 80px;
  right: 30px;
  text-align: center;
  z-index: 99;
  width: 40px;
  height: 40px;
  background: #069FCE;
  border-radius: 50%;
  display: none;
}
@media screen and (max-width: 767px) {
  .mobile-call-button {
    display: block;
  }
}
.mobile-call-button a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-call-button a i {
  padding: 3px;
  font-size: 18px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .scrollToTop, .mobile-call-button {
    right: 10px;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  display: block;
  font-size: 14px;
  font-weight: 400;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  transition: 0.4s all;
}

p {
  line-height: 1.5;
}

a {
  color: #2C353A;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  display: block;
  overflow: hidden;
  transition: 0.4s all;
}
a:hover, a:focus, a:active {
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
  outline: none;
  color: #069FCE;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-border-right {
  border-right: none !important;
}

.no-border-left {
  border-left: none !important;
}

.no-border-top {
  border-top: none !important;
}

.no-border-bottom {
  border-bottom: none !important;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.padding {
  padding: 40px 0;
}

@media screen and (max-width: 767px) {
  .padding {
    padding: 30px 0;
  }
}
@media screen and (max-width: 576px) {
  .padding {
    padding: 15px 0;
  }
}
@media screen and (max-width: 480px) {
  .padding {
    padding: 10px 0;
  }
}
section {
  position: relative;
}

.section-padding {
  padding: 80px 0px;
}

.common-sub-heading {
  font-size: 20px;
  color: #069FCE;
  font-weight: 600;
}

.common-heading {
  font-size: 38px;
  color: #000000;
  font-weight: 700;
  padding-top: 15px;
}

.common-description {
  font-size: 18px;
  padding: 20px 0px;
  line-height: 1.5;
}

.common-overview-title {
  font-size: 22px;
  color: #000000;
  font-weight: 600;
}

.common-overview-description {
  font-size: 16px;
}

.small-title {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}

.blur-hero {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #FF5723;
  filter: blur(300px);
  border-radius: 50%;
  z-index: -1;
}

@media screen and (max-width: 992px) {
  .section-padding {
    padding: 40px 0px;
  }
  .common-sub-heading {
    font-size: 16px;
  }
  .common-heading {
    font-size: 24px;
    padding-top: 10px;
  }
  .common-description {
    font-size: 16px;
    padding: 20px 0px;
  }
  .common-overview-title {
    font-size: 18px;
  }
  .common-overview-description {
    font-size: 14px;
  }
  .small-title {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  .section-padding {
    padding: 30px 0px;
  }
}
header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
}
header .navbar {
  padding: 15px 0px;
}
header .navbar .navbar-brand {
  width: 200px;
}
header .navbar .navbar-toggler {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #2C353A;
}
header .navbar .offcanvas .blur-hero {
  display: none;
}
header .navbar .offcanvas .offcanvas-header img {
  width: 180px;
}
header .navbar .offcanvas .offcanvas-body {
  justify-content: flex-end;
}
header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
  padding: 0 15px;
  color: #000000;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}
header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item.active .nav-link, header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item:hover .nav-link {
  color: #069FCE;
}
header .navbar .offcanvas .offcanvas-body .nav-btn {
  margin-left: 40px;
}
header.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  background-image: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.082);
}

@media screen and (max-width: 992px) {
  header .navbar {
    padding: 10px 0px;
  }
  header .navbar .navbar-brand {
    width: 180px;
  }
  header .navbar .navbar-toggler {
    border-radius: 10px;
  }
  header .navbar .offcanvas .blur-hero {
    display: block;
  }
  header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
    padding: 5px 10px;
  }
  header .navbar .offcanvas .offcanvas-body .nav-btn {
    margin-left: 0px;
    margin-top: 30px;
  }
}
.banner {
  padding: 100px 0px 60px 0px;
}
.banner .blur-hero {
  top: 30%;
}
.banner .hero-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner .hero-banner .hero-baner-content {
  width: 48%;
  margin: 20px 0px;
}
.banner .hero-banner .hero-baner-content .baner-title {
  font-size: 58px;
}
.banner .hero-banner .hero-baner-content .baner-title span {
  color: #069FCE;
}
.banner .hero-banner .hero-banner-image {
  width: 48%;
}

@media screen and (max-width: 992px) {
  .banner {
    padding: 60px 0px 40px 0px;
  }
  .banner .hero-banner {
    flex-direction: column;
  }
  .banner .hero-banner .hero-baner-content {
    width: 100%;
    margin: 20px 0px;
  }
  .banner .hero-banner .hero-baner-content .baner-title {
    font-size: 32px;
  }
  .banner .hero-banner .hero-banner-image {
    width: 80%;
  }
}
@media screen and (max-width: 576px) {
  .banner {
    padding: 70px 0px 30px 0px;
  }
  .banner .hero-banner {
    flex-direction: column;
  }
  .banner .hero-banner .hero-baner-content .baner-title {
    font-size: 28px;
  }
  .banner .hero-banner .hero-banner-image {
    width: 100%;
  }
}
.about .about-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .about-hero .hero-about-image {
  width: 48%;
}
.about .about-hero .hero-about-content {
  width: 48%;
}
.about .about-hero .hero-about-content .overview-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 0px;
  margin: 10px 0px;
  box-shadow: 0 0 1px #2C353A;
}

@media screen and (max-width: 992px) {
  .about .about-hero {
    flex-direction: column-reverse;
  }
  .about .about-hero .hero-about-image {
    width: 80%;
    margin-top: 20px;
  }
  .about .about-hero .hero-about-content {
    width: 100%;
  }
  .about .about-hero .hero-about-content .overview-item {
    padding: 15px 0px;
  }
}
@media screen and (max-width: 576px) {
  .about .about-hero {
    flex-direction: column-reverse;
  }
  .about .about-hero .hero-about-image {
    width: 100%;
  }
  .about .about-hero .hero-about-content {
    width: 100%;
  }
  .about .about-hero .hero-about-content .overview-item {
    padding: 15px 0px;
  }
}
.service .blur-hero {
  top: 20%;
  left: 0%;
}
.service .service-hero .hero-service-collection {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.service .service-hero .hero-service-collection .service-item {
  width: calc(33.3333333333% - 20px);
  /* Subtract the gap */
  padding: 25px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.075);
  transition: 0.3s ease-out;
}
.service .service-hero .hero-service-collection .service-item h6 {
  font-size: 45px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  -webkit-text-stroke: 2px #069FCE;
}
.service .service-hero .hero-service-collection .service-item .common-overview-title {
  padding: 10px 0px;
}
.service .service-hero .hero-service-collection .service-item:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.205);
}

@media screen and (max-width: 992px) {
  .service .service-hero .hero-service-collection {
    margin-top: 20px;
  }
  .service .service-hero .hero-service-collection .service-item {
    width: calc(50% - 20px);
  }
  .service .service-hero .hero-service-collection .service-item h6 {
    font-size: 35px;
  }
}
@media screen and (max-width: 576px) {
  .service .service-hero .hero-service-collection {
    margin-top: 20px;
    justify-content: center;
  }
  .service .service-hero .hero-service-collection .service-item {
    width: calc(100% - 20px);
  }
  .service .service-hero .hero-service-collection .service-item h6 {
    font-size: 35px;
  }
}
.portfolio .blur-hero {
  top: -20%;
  right: 0%;
}
.portfolio .portfolio-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio .portfolio-hero .hero-portfolio-content {
  width: 50%;
}
.portfolio .portfolio-hero .hero-portfolio-image {
  width: 50%;
  text-align: right;
}
.portfolio .portfolio-collection {
  padding-top: 50px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
}
.portfolio .portfolio-collection .portfolio-item {
  flex-basis: 32%;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.123);
  padding: 20px;
  background-color: #fff;
}
.portfolio .portfolio-collection .portfolio-item img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 20px;
}
.portfolio .portfolio-collection .portfolio-item .common-overview-title {
  padding: 10px 0px;
}
.portfolio .portfolio-collection .portfolio-item:hover img {
  scale: 1.01;
}

@media screen and (max-width: 992px) {
  .portfolio .portfolio-hero {
    align-items: start;
    flex-direction: column;
  }
  .portfolio .portfolio-hero .hero-portfolio-content {
    width: 100%;
  }
  .portfolio .portfolio-hero .hero-portfolio-image {
    width: 100%;
    margin-top: 30px;
  }
  .portfolio .portfolio-collection {
    padding-top: 10px;
    flex-wrap: wrap;
  }
  .portfolio .portfolio-collection .portfolio-item {
    flex-basis: 48%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 576px) {
  .portfolio .portfolio-collection .portfolio-item {
    flex-basis: 100%;
  }
  .portfolio .portfolio-collection .portfolio-item img {
    height: 200px;
  }
}
.testimonial {
  background-image: url("../images/Layer_1.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
}
.testimonial .blur-hero {
  top: 20%;
  left: 0%;
}
.testimonial .testimonial-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonial .testimonial-hero .hero-testimonial-content {
  width: 40%;
}
.testimonial .testimonial-hero .hero-testimonial-collection {
  width: 56%;
}
.testimonial .testimonial-hero .hero-testimonial-collection .testimonial-item {
  width: 70%;
  padding: 15px;
  margin: 20px 20px 20px auto;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.123);
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.testimonial .testimonial-hero .hero-testimonial-collection .testimonial-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}
.testimonial .testimonial-hero .hero-testimonial-collection .testimonial-item p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 5px;
}
.testimonial .testimonial-hero .hero-testimonial-collection .testimonial-item h2 {
  font-size: 16px;
  font-weight: 500;
}
.testimonial .testimonial-hero .hero-testimonial-collection .left {
  margin-right: 130px;
  background-color: #152435;
}
.testimonial .testimonial-hero .hero-testimonial-collection .left h2, .testimonial .testimonial-hero .hero-testimonial-collection .left p {
  color: #fff;
}

@media screen and (max-width: 992px) {
  .testimonial .testimonial-hero {
    align-items: start;
    flex-direction: column;
  }
  .testimonial .testimonial-hero .hero-testimonial-content {
    width: 100%;
  }
  .testimonial .testimonial-hero .hero-testimonial-collection {
    width: 100%;
  }
  .testimonial .testimonial-hero .hero-testimonial-collection .testimonial-item {
    width: 80%;
    flex-direction: column;
  }
  .testimonial .testimonial-hero .hero-testimonial-collection .testimonial-item img {
    width: 40px;
    height: 40px;
    margin: 10px;
  }
  .testimonial .testimonial-hero .hero-testimonial-collection .testimonial-item p {
    font-size: 14px;
  }
  .testimonial .testimonial-hero .hero-testimonial-collection .testimonial-item h2 {
    font-size: 14px;
  }
}
.contact .blur-hero {
  top: -20%;
  right: 0%;
}
.contact .contact-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact .contact-hero .hero-contact-image {
  width: 48%;
}
.contact .contact-hero .hero-contact-content {
  width: 48%;
}

@media screen and (max-width: 992px) {
  .contact .contact-hero {
    align-items: start;
    flex-direction: column-reverse;
  }
  .contact .contact-hero .hero-contact-image {
    width: 100%;
  }
  .contact .contact-hero .hero-contact-content {
    width: 80%;
  }
}
@media screen and (max-width: 992px) {
  .contact .contact-hero .hero-contact-content {
    width: 100%;
  }
}
footer .footer-content-block {
  padding-right: 70px;
}
footer .footer-block .logo {
  margin-bottom: 20px;
}
footer .footer-block .logo img {
  width: 200px;
}
footer .footer-block .common-overview-title {
  margin-bottom: 20px;
}
footer .footer-block ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1.5;
  transition: 0.5s ease-in-out;
  margin-bottom: 5px;
}
footer .footer-block .social-link {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 20px;
}
footer .footer-block .social-link a {
  width: 40px;
  height: 40px;
  border: 2px solid #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  transition: 0.3s ease-in-out;
}
footer .footer-block .social-link a i {
  font-size: 20px;
  color: #000000;
  transition: 0.1s ease-in-out;
}
footer .footer-block .social-link a:hover {
  border: 2px solid #069FCE;
}
footer .footer-block .social-link a:hover i {
  color: #069FCE;
}

.footer-bottom {
  padding-bottom: 20px;
}
.footer-bottom .block {
  display: flex;
  align-items: center;
}
.footer-bottom .block p {
  color: #2C353A;
  font-weight: 600;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.footer-bottom .block a {
  color: #069FCE;
  font-weight: 600;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin: 0px 2px;
}

@media screen and (max-width: 991px) {
  .footer-block {
    margin-top: 30px;
  }
  .footer-block .logo {
    margin-bottom: 20px;
  }
  .footer-block .logo img {
    width: 150px;
  }
  .footer-block .common-overview-title {
    margin-bottom: 10px !important;
  }
  .footer-block .social-link a {
    width: 30px;
    height: 30px;
  }
  .footer-block .social-link a i {
    font-size: 18px;
  }
  .footer-bottom {
    padding-bottom: 20px;
  }
  .footer-bottom .block {
    justify-content: center;
  }
  .footer-bottom .block p {
    font-size: 11px;
  }
  .footer-bottom .block a {
    font-size: 11px;
  }
}
@media screen and (max-width: 576px) {
  footer .footer-content-block {
    padding-right: 0px;
  }
}
.about-page {
  padding: 100px 0px 0px 0px;
}
.about-page .blur-hero {
  top: 10%;
}
.about-page .blur-hero2 {
  top: 30%;
  right: 0px;
}
.about-page .blur-hero3 {
  top: 60%;
  left: 0;
}
.about-page .blur-hero4 {
  top: 90%;
  right: 1px;
}
.about-page .hero-about-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-page .hero-about-page .hero-about-page-content {
  width: 60%;
  margin: 20px 0px;
}
.about-page .hero-about-page .hero-about-page-image {
  width: 30%;
}
.about-page .small-title {
  font-weight: 700;
  color: #2C353A;
  padding-top: 20px;
  font-size: 18px;
}
.about-page .working-process h6 {
  margin-bottom: 40px;
}

@media screen and (max-width: 992px) {
  .about-page {
    padding: 70px 0px 0px 0px;
  }
  .about-page .hero-about-page {
    flex-direction: column;
  }
  .about-page .hero-about-page .hero-about-page-content {
    width: 100%;
    margin: 0px 0px;
  }
  .about-page .hero-about-page .hero-about-page-image {
    width: 100%;
    text-align: center !important;
  }
  .about-page .hero-about-page .hidden-img {
    display: none;
  }
  .about-page .working-process h6 {
    margin-bottom: 30px;
  }
}
.blog-page {
  padding: 100px 0px 0px 0px;
}
.blog-page .blur-hero {
  top: 30%;
}
.blog-page .top-articles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.blog-page .top-articles .articles-items {
  position: relative;
  width: calc(50% - 20px);
  height: 100%;
  padding: 40px;
  border-radius: 40px;
  overflow: hidden;
  z-index: 1;
}
.blog-page .top-articles .articles-items .articles-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.blog-page .top-articles .articles-items .articles-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-page .top-articles .articles-items::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 51, 63, 0.644);
  z-index: 1;
}
.blog-page .top-articles .articles-items .articles-content {
  position: relative;
  z-index: 9;
}
.blog-page .top-articles .articles-items .articles-content .common-heading,
.blog-page .top-articles .articles-items .articles-content .common-description {
  color: #fff;
}
.blog-page .blog-part {
  margin-top: 80px;
}
.blog-page .blog-part .blog-collection {
  padding-top: 50px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
}
.blog-page .blog-part .blog-collection .blog-item {
  flex-basis: 32%;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.123);
  padding: 20px;
  background-color: #fff;
}
.blog-page .blog-part .blog-collection .blog-item img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 20px;
}
.blog-page .blog-part .blog-collection .blog-item .date {
  color: #152435;
  margin-top: 10px;
  font-weight: 600;
  border-bottom: 2px solid #152435;
  display: inline;
}
.blog-page .blog-part .blog-collection .blog-item .common-overview-title {
  padding: 10px 0px;
}
.blog-page .blog-part .blog-collection .blog-item:hover img {
  scale: 1.01;
}

@media screen and (max-width: 992px) {
  .blog-page .top-articles .articles-items {
    width: calc(100% - 20px);
    padding: 20px;
    border-radius: 20px;
  }
  .blog-page .top-articles .articles-items .articles-content {
    position: relative;
    z-index: 9;
  }
  .blog-page .top-articles .articles-items .articles-content .common-heading,
  .blog-page .top-articles .articles-items .articles-content .common-description {
    color: #fff;
  }
  .blog-page .blog-part {
    margin-top: 30px;
  }
  .blog-page .blog-part .blog-collection {
    padding-top: 30px;
    flex-wrap: wrap;
  }
  .blog-page .blog-part .blog-collection .blog-item {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .blog-page .blog-part .blog-collection .blog-item img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 20px;
  }
  .blog-page .blog-part .blog-collection .blog-item .date {
    color: #152435;
    margin-top: 10px;
    font-weight: 600;
    border-bottom: 2px solid #152435;
    display: inline;
  }
  .blog-page .blog-part .blog-collection .blog-item .common-overview-title {
    padding: 10px 0px;
  }
  .blog-page .blog-part .blog-collection .blog-item:hover img {
    scale: 1.01;
  }
}
.blogpost-page {
  padding: 100px 0px 0px 0px;
}
.blogpost-page .blur-hero {
  top: 30%;
}
.blogpost-page .articles-items {
  width: 100%;
}
.blogpost-page .articles-items .articles-img {
  width: 100%;
  border-radius: 20px;
  height: 75vh;
  overflow: hidden;
  margin: auto;
}
.blogpost-page .articles-items .articles-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blogpost-page .articles-items .date {
  font-size: 16px;
  font-weight: 700;
  text-align: right;
  margin: 30px 0px 10px 0px;
}
.blogpost-page .articles-items .common-overview-description {
  margin: 20px 0px;
}

@media screen and (max-width: 992px) {
  .blogpost-page .articles-items {
    width: 100%;
  }
  .blogpost-page .articles-items .articles-img {
    height: 45vh;
  }
}
@media screen and (max-width: 576px) {
  .blogpost-page .articles-items {
    width: 100%;
  }
  .blogpost-page .articles-items .articles-img {
    height: 35vh;
  }
}
.page-contact {
  padding: 100px 0px 0px 0px;
}
.page-contact .blur-hero {
  top: 30%;
}
.page-contact .hero-page-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-contact .hero-page-contact .hero-page-contact-content {
  width: 48%;
  margin: 20px 0px;
}
.page-contact .hero-page-contact .hero-page-contact-content .hero-contact-image {
  width: 100%;
}
.page-contact .hero-page-contact .hero-page-contact-form {
  width: 38%;
}
.page-contact .hero-page-contact .hero-page-contact-form form input, .page-contact .hero-page-contact .hero-page-contact-form form textarea {
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #000000;
  border-right: 1px solid #000000;
  padding: 7px;
  background: transparent;
}

@media screen and (max-width: 768px) {
  .page-contact {
    padding: 70px 0px 0px 0px;
  }
  .page-contact .hero-page-contact {
    flex-direction: column;
  }
  .page-contact .hero-page-contact .hero-page-contact-content {
    width: 100%;
  }
  .page-contact .hero-page-contact .hero-page-contact-content .hero-contact-image {
    display: none;
  }
  .page-contact .hero-page-contact .hero-page-contact-form {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
