//Fonts
$poppins: "Poppins", sans-serif;
$inter: "Inter", sans-serif;



// common variale 
$facebook: #3b5998;
$twitter: #55acee;
$gplus: #d34836;
$linkedin: #0077b5;
$skype: #0078ca;
$youtube: #cc181e;
$instagram: #125688;

//website  Colors variable
$primaryColor: #e2ac00;
$secondaryColor: #00273d;
$SoftPrimaryColor: #0CB2DB;
$black: #000000;
$t-color: #2C353A;
$white: #fff;