.banner {
   
    padding: 100px 0px 60px 0px;

  .blur-hero{
    top: 30%;
//   left: -30%;
  }
    .hero-banner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .hero-baner-content {
            width: 48%;
            .baner-title{
                font-size: 58px;
                span{
                    color: $primaryColor;
                }
            }
        }

        .hero-banner-image {
            width: 48%;

        }
    }
}