.contact-inner {
    background-image: url('../images/land-mopping1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    .double-row {
        width: 100%;
        // height: 300px;
        display: flex;
        // margin: 40px 0px 0px 0px;
        .map {
            width: 50%;
            iframe {
                height: 100%;
                width: 100%;
            }
        }
        .info {
            width: 50%;
            .inner-info {
                height: 100%;
                padding: 50px;
                background-color: $secondaryColor;
                .heading {
                    text-align: center;
                    color: $white;
                    border-bottom: 3px solid $white;
                    padding-bottom: 5px;
                }
                .des {
                    font-size: 20px;
                    color: white;
                    margin-top: 20px;
                    cursor: pointer;
                    &:hover {
                        span {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

.contact-form {
    padding: 80px 0;
    background-image: url('../images/service1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($black, 0.3);
    }
    .form {
        padding: 60px;
        background-color: rgba($t-color, 0.8);
        width: 600px;
        .title {
            padding-bottom: 40px;
            h4 {
                font-size: 36px;
                color: $white;
                line-height: 1.3;
                letter-spacing: 0.03em;
                word-spacing: 0.08em;
                font-weight: 800;
                text-align: center;
            }
        }
        .form-group {
            display: flex;
            gap: 20px;
            .form-control {
                width: 100%;
                padding: 10px;
                border-radius: 4px;
                color: lighten($black, 0.3);
                resize: none;
            }
            .label {
                font-size: 16px;
                color: $white;
                margin-bottom: 0;
            }
        }
        .quote-submission {
            padding: 10px 25px;
            margin: 10px 0;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            // border: 1px solid $black;
            background-color: $white;
        }
    }
}

@include custom_max(768px) {
    .contact-inner {
        .double-row {
            flex-direction: column;
            .map {
                width: 100%;
            }
            .info {
                width: 100%;
                .inner-info {
                    height: 100%;
                    padding: 30px;
                }
            }
        }
    }
    .contact-form {
        .form {
            padding: 20px;
            width: 100%;
            .title {
                padding-bottom: 20px;
                h4 {
                    font-size: 28px;
                }
            }
            .select-bar {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
            }
            .form-group {
                flex-direction: column;
            }
        }
    }
}