.service {


    .blur-hero {
        top: 20%;
        left: 0%;
    }

    .service-hero {




        .hero-service-collection {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;

            .service-item {
                width: calc((100% / 3) - 20px);
                /* Subtract the gap */
                padding: 25px;
                border-radius: 10px;
                background-color: white;
                box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.075);
                transition: 0.3s ease-out;

                h6 {

                    font-size: 45px;


                    color: rgb(255, 255, 255);

                    font-weight: 600;
                    -webkit-text-stroke: 2px $primaryColor;
                }

                .common-overview-title {
                    padding: 10px 0px;
                }

                &:hover {
                    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.205);
                }
            }
        }




    }
}



// responsive 

@include custom_max(992px) {

    .service {


        
    
        .service-hero {
    
    
    
    
            .hero-service-collection {
                margin-top: 20px;
                
    
                .service-item {
                    width: calc((100% / 2) - 20px);
                   
                    
    
                    h6 {
    
                        font-size: 35px;
    
    
                       
                    }
    
                    
    
                  
                }
            }
    
    
    
    
        }
    }
    


}


@include custom_max(576px) {

    .service {


        
    
        .service-hero {
    
    
    
    
            .hero-service-collection {
                margin-top: 20px;
                justify-content: center;
    
                .service-item {
                    width: calc((100% / 1) - 20px);
                   
                    
    
                    h6 {
    
                        font-size: 35px;
    
    
                       
                    }
    
                    
    
                  
                }
            }
    
    
    
    
        }
    }
    


}