section{
  position: relative;
}

.section-padding{
  padding: 80px 0px;
}


// common for section 
.common-sub-heading{
  font-size: 20px;
  color: $primaryColor;
  font-weight: 600;
}
.common-heading{
  font-size: 38px;
  color: $black;
  font-weight: 700;
  padding-top: 15px;
}
.common-description {
  font-size: 18px;
  padding: 20px 0px;
}


.common-overview-title{
  font-size: 22px;
  color: $black;
  font-weight: 600;
}
.common-overview-description{
  font-size: 16px;

}

// common for section end 




// common blur hero 

.blur-hero{
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #FF5723;
  filter: blur(200px);
  border-radius: 50%;
z-index: -1;
}



@include custom_max(1199px) {}

@include custom_max(991px) {}

@include custom_max(767px) {}